.container{
    display: flex;
    position: relative;
}

.imageOne{
    height: 300px;
    width: 400px;
    box-shadow: 2px 3px 8px 2px rgba(0,0,0,0.57);
}

.imageText{
    position: absolute;
    z-index: 1001;
    bottom: 0;
    background-color: green;
    width: 400px;
    height: 60px;
}