.main{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.box{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    width: 1107px;
    height: 139px;
}
.title{
    text-align: center;
    color: #565656;
    font-style: bold;
    font-size: 30px;
    background-color: inherit;
    padding: 20px;
    left: auto;
    font-family: 'Open Sans', sans-serif;
}
.text{
    color: #565656;
    font-size: 20px;
    background-color: inherit;
    padding: 20px;
}