.main{
    margin-top: 45px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 40px 1fr;
    gap: 80px;
}

.image{
    max-width: 300px;
}