.page{
    display: flex;
    justify-content: center;
    align-items: top;
}
.img{
    display: fixed;
    right: 0;
}
.textBox{
    background-color: white;
    color: #565656;
    width: 500px;
    height: 300px;
    font-weight: bold;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 35px;
    transform: translate(600px, -375px);
}

.buttons{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    width: 200px;
    height: 100px;
    transform: translate(130px, 150px);
    justify-content: space-around;
}
.LButton{
    background-color: rgba(0, 0, 0, 0);
    /*border: none;*/
}

.RButton{
    background-color: rgba(0, 0, 0, 0);
    /*border: none;*/
}