
.honeycomb {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: -1;
}

.scrollGallery{
  display: flex;
  justify-content: center;
}
.pagePadding{
  padding: 100px;
}

.contactMe{
  display: flex;
  justify-content: center;
  transform: translateY(-100px)
}

.body {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 35em;
  padding: 25px 4em;
  position: fixed;
  top: 10px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}